#wrapper
  #output
  a(href='/auth/dropbox') Login with dropbox
  - if ('undefined' !== typeof everyauth)
    h3 session data
    p= JSON.stringify(everyauth)
//div#get-text get text
script(src='/javascripts/libs/underscore.js')
script(src='/javascripts/libs/jquery-1.7.1.js')
script(src='/javascripts/libs/backbone.js')
script(src='/javascripts/main.js')
