#wrapper
  input#input
  #output
script(src='/javascripts/libs/underscore.js')
script(src='/javascripts/libs/jquery-1.7.1.js')
script(src='/javascripts/libs/backbone.js')
script(src='/javascripts/main.js')