#wrapper
  a(href='/auth/dropbox') auth dropbox
  br
  div#get-text get text
  #output
  - if (everyauth.dropbox)
    h3 Dropbox User Data
    p= JSON.stringify(everyauth.dropbox.user)
script(src='/javascripts/libs/underscore.js')
script(src='/javascripts/libs/jquery-1.7.1.js')
script(src='/javascripts/libs/backbone.js')
script(src='/javascripts/main.js')
